@import "tailwindcss";







@layer utilities {
  .color-orange {
    color: #F28C28;
  }

  .colorMakeen {
    background: #F28C28;
    color: #ffffff;

  }

  .border-makeen {
    color: #F28C28;
  }

  .text-14 {
    font-size: 14px;
  }

  .text-12 {
    font-size: 12px;
  }

  .text-18 {
    font-size: 18px;
  }

  .text-gray {
    color: #A2A2A7;
  }

}